body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 25px;
}

h4 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
}

li {
  font-family: 'Gill Sans', sans-serif;
  font-size: 18px;
}

.hero {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url("../Img/coffee7.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%), url("../Img/coffee7.jpg");
  background-size: cover;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container {
  position: relative;
  width: 80%;
}

.hero .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F5F5F5;
}

.hero .container header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  padding: 0;
}

.hero .container header nav ul .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.hero .container header nav ul .li svg {
  fill: #F5F5F5;
}

.hero .container header nav ul .li li a {
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  color: #F5F5F5;
  font-size: 17px;
  margin-left: 10px;
}

.hero .container .category {
  color: #F5F5F5;
}

.hero .container .category nav {
  width: 100%;
}

.hero .container .category nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .category nav ul li a {
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  color: #F5F5F5;
  font-size: 17px;
}

.hero .container .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F5F5F5;
  padding: 100px 200px;
}

.hero .container .quote p {
  text-align: center;
}

.hero .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container .search input {
  width: 40%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #F5F5F5;
}

.hero .container .search button {
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

.hero .container .search button .fill {
  fill: #F5F5F5;
}

.bestSeller {
  background-color: #BDCFCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 120px;
}

.bestSeller h3 {
  margin-bottom: 70px;
  font-size: 35px;
}

.bestSeller .containerCards {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bestSeller .containerCards .card {
  height: 450px;
  width: 280px;
  border: 1px solid #b9b8b8;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 5px #b9b8b8;
          box-shadow: 5px 5px 5px 5px #b9b8b8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.bestSeller .containerCards .card img {
  height: 250px;
  width: 250px;
}

.bestSeller .containerCards .card .nameProduct p:nth-child(1) {
  font-size: 30px;
  margin: 5px;
}

.bestSeller .containerCards .card .nameProduct p:nth-child(2) {
  font-size: 20px;
  margin: 0;
}

.bestSeller .containerCards .card .nameProduct p:nth-child(3) {
  font-size: 16px;
  margin: 0;
}

.bestSeller .containerCards .card .button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bestSeller .containerCards .card .button button {
  height: 70px;
  width: 100%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
  font-family: 'Gill Sans', sans-serif;
  font-size: 18px;
}

.middle {
  background-color: #fceae3;
  height: 600px;
  position: relative;
}

.middle .square {
  background-color: #cea898;
  opacity: 0.4;
  height: 60%;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
}

.middle .info {
  position: absolute;
  width: 30%;
  top: 33%;
  left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle .info p:nth-child(1) {
  font-size: 25px;
}

.middle .info p:nth-child(2) {
  text-align: center;
  font-size: 18px;
}

.middle .photo {
  height: 100%;
}

.middle .photo img {
  height: 80%;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 10%;
}

.products {
  background-color: #BDCFCC;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 80px;
}

.products .productLeft {
  height: 80%;
  width: 35%;
  background-image: url("../Img/coffee10.jpg");
  background-size: cover;
  position: relative;
}

.products .productLeft .details {
  height: 20%;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 90%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .productLeft .details p {
  margin: 6px;
  font-size: 18px;
  text-align: center;
}

.products .productLeft .details p:first-child {
  font-size: 22px;
}

.products .productLeft .btn {
  height: 20%;
  width: 60%;
  position: absolute;
  top: 105%;
  left: 30%;
}

.products .productLeft .btn button {
  height: 50%;
  width: 60%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
}

.products .productRight {
  height: 80%;
  width: 35%;
  background-image: url("../Img/coffee5.jpg");
  background-size: cover;
  position: relative;
}

.products .productRight .details {
  width: 80%;
  height: 20%;
  background-color: white;
  position: absolute;
  top: 90%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .productRight .details p {
  margin: 6px;
  font-size: 18px;
}

.products .productRight .details p:first-child {
  font-size: 22px;
}

.products .productRight .btn {
  height: 20%;
  width: 60%;
  position: absolute;
  top: 105%;
  left: 30%;
}

.products .productRight .btn button {
  height: 50%;
  width: 60%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
}

.brightIdea {
  background-color: #fceae3;
  height: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brightIdea .containerIdea {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.brightIdea .containerIdea .title h5 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 30px;
}

.brightIdea .containerIdea .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.brightIdea .containerIdea .grid .gridItem1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem1 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem1 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem1 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem2 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem2 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem2 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem3 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem3 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem3 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem4 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem4 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem4 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem5 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem5 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem5 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem6 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem6 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem6 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

footer {
  background-color: #BDCFCC;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .about h4 {
  margin: 0px;
  padding-bottom: 10px;
}

footer .footerContainer .about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .help h4 {
  margin: 0;
  padding-bottom: 10px;
}

footer .footerContainer .help ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContainer .contact h4 {
  margin: 0px;
  padding-bottom: 10px;
}

footer .footerContainer .contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerContainer .contact ul li {
  margin: 10px;
}
/*# sourceMappingURL=Homepage.css.map */