* {
  font-family: 'Gill Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

li, a {
  font-size: 18px;
}

button {
  font-size: 15px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}

figcaption {
  font-size: 18px;
}

span {
  font-size: 18px;
}

header {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BDCFCC;
}

header .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .nav nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  padding: 0;
}

header .container .nav nav ul .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .nav nav ul .li svg {
  fill: black;
}

header .container .nav nav ul .li li a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

header .container .category #hamburger-input {
  display: none;
  position: relative;
}

header .container .category #hamburger-menu {
  position: absolute;
  top: 55px;
  left: 45%;
}

header .container .category #hamburger-menu p {
  font-weight: bold;
  font-size: 18px;
}

header .container .category #hamburger-menu .sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -600px;
  width: 20%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#BDCFCC));
  background-image: linear-gradient(180deg, #F5F5F5, #BDCFCC);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  padding: 0 25px;
}

header .container .category #hamburger-menu .sidebar-menu p {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

header .container .category #hamburger-menu .sidebar-menu ul {
  padding-left: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li {
  list-style-type: none;
  line-height: 35px;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category2-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category3-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category4-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category5-input {
  display: none;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu {
  color: black;
  text-decoration: none;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -600px;
  width: 20%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#BDCFCC));
  background-image: linear-gradient(180deg, #F5F5F5, #BDCFCC);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  padding: 0 25px;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category p {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul {
  padding-left: 0px;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul li {
  list-style-type: none;
  line-height: 35px;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul li a {
  color: black;
  text-decoration: none;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category2-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category3-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category4-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category5-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-input:checked + #hamburger-menu .sidebar-menu {
  visibility: visible;
  right: 0;
}

.coffeeLovers {
  background-color: #F5F5F5;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffeeLovers .containerCoffeeLovers {
  width: 80%;
  position: relative;
}

.coffeeLovers .containerCoffeeLovers .square {
  background-color: #BDCFCC;
  opacity: 0.4;
  height: 40%;
  width: 70%;
  position: absolute;
  top: 30%;
  left: 15%;
}

.coffeeLovers .containerCoffeeLovers .info {
  position: absolute;
  height: 50%;
  width: 30%;
  top: 25%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffeeLovers .containerCoffeeLovers .info p {
  text-align: center;
  font-size: 18px;
  padding: 0 15px;
}

.coffeeLovers .containerCoffeeLovers .video {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.coffeeLovers .containerCoffeeLovers .video .videoSecond {
  height: 100%;
  width: 70%;
}

.coffeeLovers .containerCoffeeLovers .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 43%;
  left: 20%;
  height: 100%;
  width: 100%;
}

.coffeeLovers .containerCoffeeLovers .search input {
  width: 35%;
  height: 8%;
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  font-size: 18px;
}

.coffeeLovers .containerCoffeeLovers .search button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  height: 10%;
}

.coffeeLovers .containerCoffeeLovers .search button .fill {
  fill: black;
}

.bestSeller {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(#F5F5F5), to(rgba(189, 207, 204, 0.7)));
  background-image: linear-gradient(#F5F5F5, #F5F5F5, rgba(189, 207, 204, 0.7));
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestSeller h2 {
  margin-top: 0;
  margin-bottom: 80px;
}

.bestSeller .containerCards {
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bestSeller .containerCards .card {
  height: 400px;
  width: 250px;
  border: 1px solid #b9b8b8;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 5px #b9b8b8;
          box-shadow: 5px 5px 5px 5px #b9b8b8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.bestSeller .containerCards .card .imgProduct {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bestSeller .containerCards .card .imgProduct img {
  height: 100%;
  width: 80%;
}

.bestSeller .containerCards .card .nameProduct {
  height: 35%;
  width: 100%;
}

.bestSeller .containerCards .card .nameProduct p:first-child {
  font-size: 25px;
  margin: 0;
}

.bestSeller .containerCards .card .nameProduct p:nth-child(2) {
  font-size: 18px;
  margin: 0;
}

.bestSeller .containerCards .card .nameProduct p:last-child {
  font-size: 30px;
  margin: 15px;
}

.bestSeller .containerCards .card .button {
  height: 20%;
  width: 100%;
}

.bestSeller .containerCards .card .button button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
}

.bestSeller .containerCards .card .button button .fill {
  fill: #F5F5F5;
}

.products {
  background-color: rgba(189, 207, 204, 0.7);
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .containerProducts {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .containerProducts .productLeft {
  height: 60%;
  width: 45%;
  background-image: url("../Img/coffee10.jpg");
  background-size: cover;
  position: relative;
}

.products .containerProducts .productLeft .details {
  height: 25%;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 87%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .containerProducts .productLeft .details p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.products .containerProducts .productLeft .details h3 {
  margin: 5px;
}

.products .containerProducts .productLeft .btn button {
  height: 15%;
  width: 50%;
  position: absolute;
  top: 104%;
  left: 25%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 5px 5px #b9b8b8;
          box-shadow: 5px 5px 5px 5px #b9b8b8;
}

.products .containerProducts .productRight {
  height: 60%;
  width: 45%;
  background-image: url("../Img/coffee5.jpg");
  background-size: cover;
  position: relative;
}

.products .containerProducts .productRight .details {
  height: 25%;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 87%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .containerProducts .productRight .details p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.products .containerProducts .productRight .details h4 {
  margin: 5px;
}

.products .containerProducts .productRight .btn button {
  height: 15%;
  width: 50%;
  position: absolute;
  top: 104%;
  left: 25%;
  border: none;
  background-color: #8C7268;
  color: #F5F5F5;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 5px 5px #b9b8b8;
          box-shadow: 5px 5px 5px 5px #b9b8b8;
}

.brightIdea {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(189, 207, 204, 0.7)), color-stop(#F5F5F5), to(#F5F5F5));
  background-image: linear-gradient(rgba(189, 207, 204, 0.7), #F5F5F5, #F5F5F5);
  height: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brightIdea .containerIdea {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.brightIdea .containerIdea .title h5 {
  margin-top: 40px;
  margin-bottom: 70px;
}

.brightIdea .containerIdea .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.brightIdea .containerIdea .grid .gridItem1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem1 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem1 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem1 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem2 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem2 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem2 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.brightIdea .containerIdea .grid .gridItem3 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem3 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem3 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem4 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem4 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem4 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem5 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem5 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem5 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.brightIdea .containerIdea .grid .gridItem6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.brightIdea .containerIdea .grid .gridItem6 .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brightIdea .containerIdea .grid .gridItem6 .style img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.brightIdea .containerIdea .grid .gridItem6 .style p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

footer {
  background-color: #BDCFCC;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

footer .footerContainer .others {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer .others .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .others .about p {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .others .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .others .help p {
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .help ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .others .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContainer .others .contact p {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .contact .social {
  display: none;
}

footer .footerContainer .others .contact .social p {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  padding-bottom: 0;
}

footer .footerContainer .others .contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerContainer .others .contact ul li {
  margin: 10px;
}
/*# sourceMappingURL=Homepage.css.map */