@import "colors";
@import "base";

@media screen and (max-width: 768px) {
    header {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px;
            .navigation {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .navigation_items {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 10px auto;
                    a {
                        text-decoration: none;
                        color: $black;
                        margin-left: 5px;
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }
            }
            .category {
                .menu {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    margin: 10px auto;
                    font-weight: bold;
                }
                .first_sidenav {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 0;
                    transition: 0.5s;
                    z-index: 1;
                    background-image: linear-gradient(180deg, $milky, $blue);
                    padding-top: 35px;
                    overflow: scroll;
                    height: 100%;
                    a {
                        display: block;
                        transition: 0.1s;
                        text-decoration: none;
                        color: $black;
                        font-size: 12px;
                        padding-top: 20px;
                        padding-left: 20px;
                        width: 50%;
                        margin-right: 25%;
                        display: inline-block;
                      }
                    .inline {
                        padding: 5px;
                        cursor: pointer;
                    }
                    .closeBtn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 25px;
                        font-size: 30px;
                        padding-right: 25px;
                        padding-top: 10px;
                        margin-right: 0;
                    }
                    .second_sidenav {
                        display: none;
                        margin-left: 50px;
                        .subCategory {
                            font-size: 12px;
                            padding-top: 10px;
                            width: 65%;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    .checkout {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $milky;
        padding-top: 0;
        padding-bottom: 0;
        .formSide {
            height: 100%;
            width: 100%;
            box-shadow: none;
            padding-bottom: 20px;
            h1 {
                padding-left: 50px; 
                margin: 50px 0;
            }
            .details {
                padding-left: 50px;
                padding-right: 50px;
                .title {
                    font-size: 18px;
                    color: $brown;
                    font-weight: bold;
                }
                .form {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    .section {
                        input {
                            display: block;
                            width: 90%;
                            height: 35px;
                            margin: 10px 0;
                        }
                        input, label {
                            background-color: $milky;
                        }
                        input[type="radio"] {
                            display: inline;
                            width: 15%;
                            height: 20px;
                            margin: 0;
                        }
                    }
                    .center {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }
                }
            }
        }
        #cartSide {
            height: 100%;
            width: 90%;
            max-width: 400px;
            box-shadow: 0 15px 15px 0 $darkGrey;
            margin-bottom: 70px;
        }
    }

    footer {
        background-color: $blue;
        height: 220px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footerContainer {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                margin-bottom: 20px;
                margin-top: 0;
            }
            .others {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .about {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            font-size: 13px;
                        }
                    }
                }
                .help {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            font-size: 13px;
                        }
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    .social {
                        display: block;
                        p {
                            font-size: 13px;
                            text-transform: none;
                            font-weight: normal;
                            padding-bottom: 0;
    
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: none;
                        li {
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}