@import "colors";
@import "base";

@media screen and (max-width: 768px) {
    body {
        background-color: $milky;
        .container {
            height: 100%;
            width: 100%;
            box-shadow: none;
            position: absolute;
            top: 0;
            left: 0;
            display:flex;
            flex-direction: column;
            .left {
                width: 100%;
                height: 30%;
                background-image: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.3) 0%,
                    rgba(0, 0, 0, 0.4) 100%
                    ), url("../Img/coffee4.jpg"); 
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .logo {
                    font-size: 30px;
                    color: $milky;
                    margin: 0;
                }
                p {
                    font-size: 15px;
                    color: $milky;
                    margin:20px 40px;
                    text-align:center;
                }
                button {
                    font-size: 15px;
                    height: 20%;
                    width: 40%;
                    background-color: transparent;
                    color: $milky;
                    border: 1px solid $milky;
                }
            }
            .right {
                width: 100%;
                height: 70%;
                background-color: $milky;
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
                h1 {
                    font-size: 25px;
                    margin: 15px;
                }
                form {
                    height:80%;
                    width: 60%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(7, 1fr);
                    grid-gap: 10px;
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                       input {
                           height: 100%;
                           width: 95%;
                       }
                       select {
                           height: 100%;
                           width: 35%;
                       }
                       label {
                           margin-bottom: 5px;
                       }
    
                    }
                    .firstName {
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                    }
                    .lastName {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }
                    .email {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                    }
                    .password {
                        grid-column: 1 / 2;
                        grid-row: 4 / 5;
                    }
                    .city {
                        grid-column: 1 / 2;
                        grid-row: 5 / 6;
                    }
                    .country {
                        grid-column: 1 / 2;
                        grid-row: 6 / 7;
                    }
                    .submit {
                        grid-column: 1 / 2;
                        grid-row: 7 / 8;
                        display: flex;
                        align-items: center;
                        .button {
                            width: 50%;
                            height: 30px;
                            background-color: $brown;
                            color: $milky;
                            text-transform: uppercase;
                            box-shadow: 5px 5px 5px 5px $grey;
                            border: none;
                        }
                    }
                    
                }
                p {
                    margin-top: 0;
                    a {
                        text-decoration: none;
                        color: $black;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}