@import "colors";
@import "spacing";
@import "base";

@media screen and (max-width: 768px) {
    .hero {
        background-image: linear-gradient(
        0deg,
        $nude 0%,
        $nude 100%
        );
        height: 400px;
        display: flex;
        justify-content: center;
        .container {
            position: relative;
            width: 90%;
            header {
                display: flex;
                flex-direction: column;
                color: $black;
                height: 30%;
                .nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .logo {
                        font-size: 30px;
                        margin-bottom: 0;
                    }
                    nav {
                        ul {
                            list-style: none;
                            display: flex;
                            width: 380px;
                            padding: 0;
                            .li {
                                display: flex;
                                justify-content: flex-end;
                                width:100%;
                                svg {
                                    fill: $black;
                                }
                                li {
                                    a {
                                        text-decoration: none;
                                        color: $black;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .category {
                    color: $black;
                    nav {
                        width: 100%;
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            li {
                                position: relative;
                                width: 100%;
                                a {
                                    text-decoration: none;
                                    color: $black;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    margin-bottom: 5px;
                                    &:hover {
                                        font-size: 22px;
                                    }
                                }
                                ul {
                                    display: none;
                                    li {
                                        a {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                &:hover ul {
                                    display: block;
                                    position: absolute;
                                }
                            }
                        }
                    }
        
                }
                
            }
    
            .quote {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $black;
                height: 45%;
                p {
                    text-align: center;
                    margin: 0 10%;
                    font-size: 15px;
                }
            }
            .search {
                display: flex;
                justify-content: center;
                height: 25%;
                input {
                    width: 40%;
                    height: 40px;
                    background-color: rgba(0, 0, 0, 0.4);
                    border: 1px solid $black;
                }
                button {
                    background-color: transparent;
                    border: none;
                    margin-left: 15px;
                    height: 40px;
                    .fill {
                        fill: $black;
                    }
                }
            }
        }
    }
    
    .bestSeller {
        background-color: $blue;
        height: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            margin: 30px;
            font-size: 25px;
        }
        .containerCards {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .card {
                height: 25%;
                width: 35%;
                border: 1px solid $grey;
                background-color: $white;
                box-shadow: 5px 5px 5px 5px $grey;
                text-align: center;
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 30px;
                .imgProduct {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 100%;
                        width: 50%;
                    }
                }
                .nameProduct {
                    height: 35%;
                    width: 100%;
                    p:nth-child(1) {
                        font-size: 20px;
                        margin: 0;
                    }
                    p:nth-child(2) {
                        font-size:15px;
                        margin:5px;
                    }
                    p:nth-child(3) {
                        font-size: 10px;
                        margin: 0;
                    }
                }
                .button {
                    height: 15%;
                    width: 100%;    
                    button {
                        height: 100%;
                        width: 100%;
                        border: none;
                        background-color: $brown;
                        color: $milky;
                    }
                }
            }
        }
    }
    
    .middleContainer {
        background-color: $nude;
        height: 650px;
        display: flex;
        justify-content: center;
        .middle {
            width: 80%;
            position: relative;
            .square {
                background-color: $darkNude;
                opacity: 0.4;
                height: 40%;
                width: 60%;
                position: absolute;
                top: 30%;
                left: 20%;
            }
            .info {
                position: absolute;
                height: 40%;
                width: 40%;
                top: 30%;
                left: 0;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: center;
                p {
                    text-align: center;
                    font-size: 18px;
                    padding: 0 20px;
                }
        
            }
            .photo {
                img {
                    height: 70%;
                    width: 60%;
                    position: absolute;
                    top: 15%;
                    left: 40%;
                    box-shadow: 5px 5px 5px 5px $grey;
                }
            }
        }
    }
    
    .productsContainer {
        background-color: $blue;
        height: 650px;
        display: flex;
        justify-content: center;
        .products {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .productLeft {
                height: 60%;
                width: 45%;
                background-image: url("../Img/coffee10.jpg");
                background-size: cover;
                position: relative;
                .details {
                    height: 25%;
                    width: 80%;
                    background-color: white;
                    position: absolute;
                    top: 87%;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        margin: 0;
                        font-size: 18px;
                        text-align: center;
                    }
                    h3 {
                        margin: 5px;
                    }
                }
                .btn {
                    button {
                        height: 15%;
                        width: 50%;
                        position: absolute;
                        top: 104%;
                        left: 25%;
                        border: none;
                        background-color: $brown;
                        color: $milky;
                        text-transform: uppercase;
                        box-shadow: 5px 5px 5px 5px $grey;
                    }
                }
        
            }
            .productRight {
                height: 60%;
                width: 45%;
                background-image: url("../Img/coffee5.jpg");
                background-size: cover;
                position: relative;
                .details {
                    height: 25%;
                    width: 80%;
                    background-color: white;
                    position: absolute;
                    top: 87%;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        margin: 0;
                        font-size: 18px;
                        text-align: center;
                    }
                    h4 {
                        margin: 5px;
                    }
                }
                .btn {
                    button {
                        height: 15%;
                        width: 50%;
                        position: absolute;
                        top: 104%;
                        left: 25%;
                        border: none;
                        background-color: $brown;
                        color: $milky;
                        text-transform: uppercase;
                        box-shadow: 5px 5px 5px 5px $grey;
                    }
                }
        
            }
        }
    }
    
    .brightIdea {
        background-color: $nude;
        height: 950px;
        width: 100%;
        display: flex;
        justify-content: center;
        .containerIdea {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 50px;
                .gridItem1 {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                   .style {
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       img {
                        height: 250px;
                        width: 250px;
                        border-radius: 50%;
                    }
                    p {
                        font-family: 'Gill Sans', sans-serif;
                        font-size: 17px;
                        text-align: center;
                    }
                   }
                }
                .gridItem2 {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    .style {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                         height: 250px;
                         width: 250px;
                         border-radius: 50%;
                     }
                     p {
                         font-family: 'Gill Sans', sans-serif;
                         font-size: 17px;
                         text-align: center;
                     }
                    }
                }
                .gridItem3 {
                    grid-column: 3 / 4;
                    grid-row: 1 / 2;
                    .style {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                         height: 250px;
                         width: 250px;
                         border-radius: 50%;
                     }
                     p {
                         font-family: 'Gill Sans', sans-serif;
                         font-size: 17px;
                         text-align: center;
                     }
                    }
                }
                .gridItem4 {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    .style {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                         height: 250px;
                         width: 250px;
                         border-radius: 50%;
                     }
                     p {
                         font-family: 'Gill Sans', sans-serif;
                         font-size: 17px;
                         text-align: center;
                     }
                    }
                }
                .gridItem5 {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    .style {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                         height: 250px;
                         width: 250px;
                         border-radius: 50%;
                     }
                     p {
                         font-family: 'Gill Sans', sans-serif;
                         font-size: 17px;
                         text-align: center;
                     }
                    }
                }
                .gridItem6 {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                    .style {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                         height: 250px;
                         width: 250px;
                         border-radius: 50%;
                     }
                     p {
                         font-family: 'Gill Sans', sans-serif;
                         font-size: 17px;
                         text-align: center;
                     }
                    }
                }
            }
        }
    }
    
    footer {
        background-color: $blue;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        .footerContainer {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo {
                display: flex;
                align-items: center;
                width: 35%;
            }
            .others {
                width: 65%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .about {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                }
                .help {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .social {
                        display: none;
                        p {
                            font-size: 18px;
                            text-transform: none;
                            font-weight: normal;
                            padding-bottom: 0;
    
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        li {
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}