@import "colors";
@import "base";

@media screen and (max-width: 768px) {
    header {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px;
            .navigation {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .navigation_items {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 10px auto;
                    a {
                        text-decoration: none;
                        color: $black;
                        margin-left: 5px;
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }
            }
            .category {
                .menu {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    margin: 10px auto;
                    font-weight: bold;
                }
                .first_sidenav {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 0;
                    transition: 0.5s;
                    z-index: 1;
                    background-image: linear-gradient(180deg, $milky, $blue);
                    padding-top: 35px;
                    overflow: scroll;
                    height: 100%;
                    a {
                        display: block;
                        transition: 0.1s;
                        text-decoration: none;
                        color: $black;
                        font-size: 12px;
                        padding-top: 20px;
                        padding-left: 20px;
                        width: 50%;
                        margin-right: 25%;
                        display: inline-block;
                      }
                    .inline {
                        padding: 5px;
                        cursor: pointer;
                    }
                    .closeBtn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 25px;
                        font-size: 30px;
                        padding-right: 25px;
                        padding-top: 10px;
                        margin-right: 0;
                    }
                    .second_sidenav {
                        display: none;
                        margin-left: 50px;
                        .subCategory {
                            font-size: 12px;
                            padding-top: 10px;
                            width: 65%;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .coffeeLovers {
        background-color: $milky;
        height: 450px;
        display: flex;
        justify-content: center;
        .containerCoffeeLovers {
            width: 80%;
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .square {
                display: none;
                background-color: $blue;
                opacity: 0.4;
                height: 40%;
                width: 70%;
                position: absolute;
                top: 30%;
                left: 15%;
            }
            .info {
                position: static;
                height: 30%;
                width: 95%;
                max-width: 250px;
                top: 0;
                left: 0;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 20px;
                p {
                    text-align: center;
                    font-size: 14px;
                    padding: 0 0;
                }
        
            }
            .video {
                width: 90%;
                max-width: 370px;
                height: 50%;
                position: static;
                top: 0;
                left: 0;
            }
            .search {
                display: flex;
                justify-content: center;
                align-items: center;
                position: static;
                top: 0;
                left: 0;
                height: 7%;
                width: 90%;
                max-width: 370px;
                input {
                    height: 100%;
                    background-color: rgba($black, 0.3);
                    border: none;
                    font-size: 14px;
                }
                button {
                    background-color: transparent;
                    border: none;
                    margin-left: 10px;
                    height: 35px;
                    cursor: pointer;
                    .fill {
                        fill: $black;
                    }
                }
            }
            
        }
    }
    
    .bestSeller {
        background-image: linear-gradient($milky, $milky, rgba($blue, 0.7));
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .containerCards {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card {
                height: 250px;
                width: 150px;
                border: 1px solid $grey;
                background-color: $milky;
                box-shadow: 0px 10px 20px 0px $darkGrey;
                text-align: center;
                display: flex;
                flex-direction: column;
                border-radius: 5%;
                display: flex;
                justify-content: space-evenly;
                margin: 30px 0;
                .flip_card {
                    height: 50%;
                    width: 100%;
                    perspective: 1000px; // 3D effect
                    .flip_card_inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
                        .flip_card_front {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            img {
                                border-radius: 5%;
                                height: 100%;
                                width: 80%;
                              }
                        }
                        .flip_card_back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            transform: rotateY(180deg);
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            p {
                                margin: 0;
                                &:first-of-type {
                                    margin: 5px;
                                }
                                &:nth-child(2) {
                                    font-size: 15px;
                                }
                                &:last-of-type {
                                    margin: 15px;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
                .flip_card:hover .flip_card_inner {
                    transform: rotateY(180deg);
                  }
                .button {
                    height: 15%;
                    width: 60%; 
                    margin: 20px auto;   
                    button {
                        height: 100%;
                        width: 100%;
                        border: none;
                        background-color: $brown;
                        color: $milky;
                        box-shadow: 0px 10px 20px 0px $darkGrey;
                        border-radius: 5%;
                        cursor: pointer;
                        .fill {
                            fill: $milky;
                        }
                    }
                }
            }
        }
    }
    
    .products {
        background-color: rgba($blue, 0.7);
        height: 800px;
        display: flex;
        justify-content: center;
        .containerProducts {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .productCart {
                height: 35%;
                width: 80%;
                max-width: 400px;
                background-size: cover;
                position: relative;
                margin-bottom: 50px;
                .details {
                    height: 25%;
                    width: 80%;
                    background-color: white;
                    position: absolute;
                    top: 87%;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .productTitle {
                        margin: 5px;
                        font-size: 17px;
                    }
                    .productParag {
                        margin: 0;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .btn {
                    button {
                        height: 15%;
                        width: 50%;
                        position: absolute;
                        top: 104%;
                        left: 25%;
                        border: none;
                        background-color: $brown;
                        color: $milky;
                        box-shadow: 0px 10px 20px 0px $darkGrey;
                        cursor: pointer;
                    }
                }
            }
            .productImgLeft {
                background-image: url("../Img/coffee10.jpg");
            }
            .productImgRight {
                background-image: url("../Img/coffee5.jpg");
            }
        }
    }
    
    .brightIdea {
        background-image: linear-gradient(rgba($blue, 0.7), $milky, $milky);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        .containerIdea {
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            .title {
                h5 {
                    margin-top: 0;
                    margin-bottom: 30px;
                }
            }
            .grid {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
                grid-gap: 10px;
                .style {
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       .gridImg {
                            height: 150px;
                            width: 150px;
                            border-radius: 50%;
                        }
                        .gridParag {
                            font-family: 'Gill Sans', sans-serif;
                            font-size: 14px;
                            text-align: center;
                        }
                   }
                }
        }
    }
    
    footer {
        background-color: $blue;
        height: 220px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footerContainer {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                margin-bottom: 20px;
                margin-top: 0;
            }
            .others {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .about {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            font-size: 13px;
                        }
                    }
                }
                .help {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            font-size: 13px;
                        }
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        margin: 0px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    .social {
                        display: block;
                        p {
                            font-size: 13px;
                            text-transform: none;
                            font-weight: normal;
                            padding-bottom: 0;
    
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: none;
                        li {
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}