* {
  font-family: 'Gill Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

li, a {
  font-size: 18px;
}

button {
  font-size: 18px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

figcaption {
  font-size: 18px;
}

span {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  li, a {
    font-size: 12px;
  }
  button {
    font-size: 12px;
  }
  .logo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #BDCFCC;
  }
  header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 10px;
  }
  header .container .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .navigation .navigation_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  header .container .navigation .navigation_items a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 12px;
  }
  header .container .category .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin: 10px auto;
    font-weight: bold;
  }
  header .container .category .first_sidenav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#BDCFCC));
    background-image: linear-gradient(180deg, #F5F5F5, #BDCFCC);
    padding-top: 35px;
    overflow: scroll;
    height: 100%;
  }
  header .container .category .first_sidenav a {
    display: block;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
    width: 50%;
    margin-right: 25%;
    display: inline-block;
  }
  header .container .category .first_sidenav .inline {
    padding: 5px;
    cursor: pointer;
  }
  header .container .category .first_sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    font-size: 30px;
    padding-right: 25px;
    padding-top: 10px;
    margin-right: 0;
  }
  header .container .category .first_sidenav .second_sidenav {
    display: none;
    margin-left: 50px;
  }
  header .container .category .first_sidenav .second_sidenav .subCategory {
    font-size: 12px;
    padding-top: 10px;
    width: 65%;
    margin-right: 20px;
  }
  .checkout {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F5F5F5;
    padding-top: 0;
    padding-bottom: 0;
  }
  .checkout .formSide {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 20px;
  }
  .checkout .formSide h1 {
    padding-left: 50px;
    margin: 50px 0;
  }
  .checkout .formSide .details {
    padding-left: 50px;
    padding-right: 50px;
  }
  .checkout .formSide .details .title {
    font-size: 18px;
    color: #8C7268;
    font-weight: bold;
  }
  .checkout .formSide .details .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .checkout .formSide .details .form .section input {
    display: block;
    width: 90%;
    height: 35px;
    margin: 10px 0;
  }
  .checkout .formSide .details .form .section input, .checkout .formSide .details .form .section label {
    background-color: #F5F5F5;
  }
  .checkout .formSide .details .form .section input[type="radio"] {
    display: inline;
    width: 15%;
    height: 20px;
    margin: 0;
  }
  .checkout .formSide .details .form .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .checkout #cartSide {
    height: 100%;
    width: 90%;
    max-width: 400px;
    -webkit-box-shadow: 0 15px 15px 0 #646464;
            box-shadow: 0 15px 15px 0 #646464;
    margin-bottom: 70px;
  }
  footer {
    background-color: #BDCFCC;
    height: 220px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerContainer {
    width: 100%;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footerContainer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  footer .footerContainer .others {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footerContainer .others .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerContainer .others .about p {
    margin: 0px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }
  footer .footerContainer .others .about ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer .footerContainer .others .about ul li {
    font-size: 13px;
  }
  footer .footerContainer .others .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerContainer .others .help p {
    margin: 0px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }
  footer .footerContainer .others .help ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer .footerContainer .others .help ul li {
    font-size: 13px;
  }
  footer .footerContainer .others .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerContainer .others .contact p {
    margin: 0px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }
  footer .footerContainer .others .contact .social {
    display: block;
  }
  footer .footerContainer .others .contact .social p {
    font-size: 13px;
    text-transform: none;
    font-weight: normal;
    padding-bottom: 0;
  }
  footer .footerContainer .others .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  footer .footerContainer .others .contact ul li {
    margin: 10px;
  }
}
/*# sourceMappingURL=mobileCart.css.map */