@import "colors";
@import "spacing";
@import "base";

header {
    height: 160px;
    display: flex;
    justify-content: center;
    background-color: $blue;
    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        .nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            nav {
                ul {
                    list-style: none;
                    display: flex;
                    width: 380px;
                    padding: 0;
                    .li {
                        display: flex;
                        justify-content: flex-end;
                        width:100%;
                        svg {
                            fill: $black;
                        }
                        li {
                            a {
                                text-decoration: none;
                                color: $black;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .category {
            display: block;
            color: $black;
            nav {
                width: 100%;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    background-color: $blue;
                    li {
                        position: relative;
                        width: 100%;
                        a {
                            text-decoration: none;
                            color: $black;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 5px;
                            box-shadow: 2px 0 0 0 $grey;
                            &:hover {
                                font-size: 20px;
                            }
                            
                        }
                        ul {
                            position: absolute;
                            top: 21px;
                            left: 0;
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            background-color: $blue;
                            transition: 0.3s;
                            display: none;
                            li {
                                margin: 0;
                                a {
                                    margin-bottom: 0;
                                    &:hover {
                                        font-size: 20px;
                                    }
                                }
                                
                            }
                        }
                        &:hover ul {
                            display: block;
                            background-color: $blue;
                            box-shadow: 2px 2px 0 0 $grey;
                        }
                    }
                }
            }

        }
        .category-mobile {
            display: none;
        }
    }
}

.productsSection {
    background-color: $milky;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
        margin: 50px auto;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .filter {
            height: 23%;
            width: 25%;
            background-color: $milky;
            box-shadow: 5px 5px 5px 5px $grey;
            .styleList {
                padding: 0;
                .styleElement {
                    margin: 15px auto;
                    padding: 10px;
                    font-size: 18px;
                }
                li {
                    list-style-type: none;
                    #filterBrand {
                        display: none;
                    }
                    #filterCategory {
                        display: none;
                    }
                    #filterStrength {
                        display: none;
                    }
                    label {
                        .sidebar {
                            display: none;
                        }
                    }
                    #filterBrand:checked + .filterLabel .sidebar {
                        display: block;
                      }
                    #filterCategory:checked + .filterLabel .sidebar {
                        display: block;
                      }
                      
                    #filterStrength:checked + .filterLabel .sidebar {
                        display: block;
                      }
                  }
            }
        }
        .products {
            height: 800px;
            width: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 5px;
            .card {
                height: 90%;
                width: 90%;
                margin: 0 35px;
                box-shadow: 5px 5px 5px 5px $grey;
                background-color: $milky;
            }
        }
    }
}

footer {
    background-color: $blue;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    .footerContainer {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo {
            display: flex;
            align-items: center;
            width: 35%;
        }
        .others {
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .about {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
            .help {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin: 0px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .social {
                    display: none;
                    p {
                        font-size: 18px;
                        text-transform: none;
                        font-weight: normal;
                        padding-bottom: 0;

                    }
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li {
                        margin: 10px;
                    }
                }
            }
        }
    }
}

