* {
  font-family: 'Gill Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

li, a {
  font-size: 18px;
}

button {
  font-size: 15px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}

figcaption {
  font-size: 18px;
}

span {
  font-size: 18px;
}

header {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BDCFCC;
}

header .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .nav nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  padding: 0;
}

header .container .nav nav ul .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .nav nav ul .li svg {
  fill: black;
}

header .container .nav nav ul .li li a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

header .container .category #hamburger-input {
  display: none;
  position: relative;
}

header .container .category #hamburger-menu {
  position: absolute;
  top: 55px;
  left: 45%;
}

header .container .category #hamburger-menu p {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

header .container .category #hamburger-menu .sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -600px;
  width: 20%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#BDCFCC));
  background-image: linear-gradient(180deg, #F5F5F5, #BDCFCC);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

header .container .category #hamburger-menu .sidebar-menu p {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

header .container .category #hamburger-menu .sidebar-menu ul {
  padding-left: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li {
  list-style-type: none;
  line-height: 30px;
}

header .container .category #hamburger-menu .sidebar-menu ul li label {
  cursor: pointer;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category2-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category3-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category4-input,
header .container .category #hamburger-menu .sidebar-menu ul li #category5-input {
  display: none;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu {
  color: black;
  text-decoration: none;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -600px;
  width: 20%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#BDCFCC));
  background-image: linear-gradient(180deg, #F5F5F5, #BDCFCC);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  cursor: auto;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category p {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul {
  padding-left: 0px;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul li {
  list-style-type: none;
  line-height: 30px;
}

header .container .category #hamburger-menu .sidebar-menu ul li .category-menu .sidebar-category ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category2-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category3-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category4-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-menu .sidebar-menu ul li #category5-input:checked + .category-menu .sidebar-category {
  visibility: visible;
  right: 0;
}

header .container .category #hamburger-input:checked + #hamburger-menu .sidebar-menu {
  visibility: visible;
  right: 0;
}

.productsSection {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productsSection .container {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto;
}

.productsSection .container .filter {
  height: 23%;
  width: 25%;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0 15px 15px 0 #646464;
          box-shadow: 0 15px 15px 0 #646464;
}

.productsSection .container .filter .styleList {
  padding: 0;
}

.productsSection .container .filter .styleList .styleElement {
  margin: 15px auto;
  padding: 10px;
  font-size: 18px;
}

.productsSection .container .filter .styleList li {
  list-style-type: none;
}

.productsSection .container .filter .styleList li #filterBrand {
  display: none;
}

.productsSection .container .filter .styleList li #filterCategory {
  display: none;
}

.productsSection .container .filter .styleList li #filterCoffeeTypes {
  display: none;
}

.productsSection .container .filter .styleList li #filterStrength {
  display: none;
}

.productsSection .container .filter .styleList li label {
  cursor: pointer;
}

.productsSection .container .filter .styleList li label .sidebar {
  display: none;
  cursor: auto;
}

.productsSection .container .filter .styleList li #filterBrand:checked + .filterLabel .sidebar {
  display: block;
}

.productsSection .container .filter .styleList li #filterCategory:checked + .filterLabel .sidebar {
  display: block;
}

.productsSection .container .filter .styleList li #filterCoffeeTypes:checked + .filterLabel .sidebar {
  display: block;
}

.productsSection .container .filter .styleList li #filterStrength:checked + .filterLabel .sidebar {
  display: block;
}

.productsSection .container .products {
  height: 100%;
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  margin-left: 50px;
}

.productsSection .container .products .card {
  height: 100%;
  width: 90%;
  -webkit-box-shadow: 0 15px 15px 0 #646464;
          box-shadow: 0 15px 15px 0 #646464;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsSection .container .products .card img {
  height: 50%;
  width: 100%;
}

.productsSection .container .products .card p {
  margin: 0;
}

.productsSection .container .products .card .category {
  font-size: 22px;
}

.productsSection .container .products .card .subcategory {
  font-size: 18px;
}

.productsSection .container .products .card .price {
  margin: 10px;
  font-size: 25px;
}

.productsSection .container .products .card button {
  height: 50px;
  width: 140px;
  -webkit-box-shadow: 0 20px 30px 0 #b9b8b8;
          box-shadow: 0 20px 30px 0 #b9b8b8;
  border: none;
  cursor: pointer;
  background-color: #8C7268;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  margin: 20px 20px 40px 20px;
}

footer {
  background-color: #BDCFCC;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

footer .footerContainer .others {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContainer .others .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .others .about p {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .others .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .others .help p {
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .help ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerContainer .others .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContainer .others .contact p {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .footerContainer .others .contact .social {
  display: none;
}

footer .footerContainer .others .contact .social p {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  padding-bottom: 0;
}

footer .footerContainer .others .contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerContainer .others .contact ul li {
  margin: 10px;
}
/*# sourceMappingURL=ProductsList.css.map */