@import "colors";
@import "base";

header {
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: $blue;
    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        .navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .navigation_items {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                a {
                    text-decoration: none;
                    color: $black;
                    margin-left: 10px;
                    margin-right: 30px;
                }
            }
        }
        .category {
            .menu {
                display: flex;
                justify-content: center;
                cursor: pointer;
                margin-bottom: 10px;
                font-weight: bold;
            }
            .first_sidenav {
                position: fixed;
                top: 0;
                right: 0;
                width: 0;
                transition: 0.5s;
                z-index: 1;
                background-image: linear-gradient(180deg, $milky, $blue);
                padding-top: 35px;
                overflow: scroll;
                height: 100%;
                a {
                    display: block;
                    transition: 0.1s;
                    text-decoration: none;
                    color: $black;
                    font-size: 18px;
                    padding-top: 20px;
                    padding-left: 20px;
                    width: 50%;
                    margin-right: 25%;
                    display: inline-block;
                  }
                .inline {
                    padding: 5px;
                    cursor: pointer;
                }
                .closeBtn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 25px;
                    font-size: 30px;
                    padding-right: 25px;
                    padding-top: 10px;
                    margin-right: 0;
                }
                .second_sidenav {
                    display: none;
                    margin-left: 50px;
                    .subCategory {
                        font-size: 17px;
                        padding-top: 10px;
                        width: 65%;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.search {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $milky;
    input {
        width: 500px;
        height: 50px;
        background-color: rgba($black, 0.2);
        border: none;
        font-size: 18px;
    }
    button {
        background-color: transparent;
        border: none;
        margin-left: 10px;
        height: 50px;
        cursor: pointer;
        .fill {
            fill: $black;
        }
    }
}

.breadcrumbs {
    background-color: $milky;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    .breadcrumbsMenu {
        margin: 0;
        width: 80%;
        display: flex;
        align-items: center;
        list-style: none;
        li {
            padding: 10px;
            margin-right: 5px;
            .menuItem {
                text-decoration: none;
                color: $black;
                font-size: 20px;
                border-right: 1px solid $black;
                padding-right: 40px;
            }
            .noBorder {
                border: none;
            }
        }
    }
}

.middle {
    background-color: $milky;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        width: 85%;
        height: 100%;
        .product {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .images {
                height: 100%;
                width: 65%;
                #imgFirst {
                    display: flex;
                    justify-content: center;
                }
                #imgSmall {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-top: 20px;
                    img {
                        width: 20%;
                        cursor: pointer;
                    }
                }
            }
            .price {
                box-shadow: 0 15px 15px 0 $darkGrey;
                height: 450px;
                width: 27%;
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    text-decoration: none;
                    color: $black;
                }
                #title {
                    font-size: 22px;
                    margin-top: 30px;
                }
                #price {
                    margin: 0;
                    font-size: 30px;
                }
                .containerBox {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    button {
                        width: 50px;
                        height: 40px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                    p {
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 22px;
                    }
                }
                .cart {
                    height: 60px;
                    width: 160px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    background-color: $brown;
                    color: $milky;
                    border: none;
                    box-shadow: 0 10px 10px 0 $grey;
                }
                .detailsDiv {
                    width: 100%;
                    p {
                        border-top: 1px solid $grey;
                        height: 15px;
                        padding: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
        .details {
            width: 65%;
            padding-top: 30px;
            .description {
                margin-bottom: 50px;
                h1 {
                    font-size: 25px;
                    margin-bottom: 35px;
                }
                p {
                    text-align: justify;
                }
            }
            .review {
                margin-bottom: 70px;
                form {
                    fieldset {
                        legend {
                            font-size: 25px;
                            font-weight: bold;
                        }
                        .rating {
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                            input {
                                 display: none;
                            }
                            label {
                                position: relative;
                                width: 40px;
                                font-size: 25px;
                                color: $black;
                                cursor: pointer;
                            } 
                        }
                        .rating > label::before {
                            content: "\2605";
                            position: absolute;
                            opacity: 0;
                            }
                        .rating > label:hover:before,
                        .rating > label:hover ~ label:before {
                            opacity: 1 !important;
                        }
                        .rating > input:checked ~ label:before {
                            opacity: 1;
                        }
                        .rating:hover > input:checked ~ label:before {
                            opacity: 0.3;
                        }
                        label, input, textarea {
                            font-size: 18px;
                            display: block;
                            margin: 5px 0;
                            background-color: $milky;
                        }
                        input[value="Send review"] {
                            height: 50px;
                            width: 150px;
                            margin-top: 15px;
                            background-color: $brown;
                            color: $milky;
                            border: none;
                            box-shadow: 0px 15px 15px 0px $grey;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $blue;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    .footerContainer {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo {
            display: flex;
            align-items: center;
            width: 35%;
        }
        .others {
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .about {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
            .help {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin: 0px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .social {
                    display: none;
                    p {
                        font-size: 18px;
                        text-transform: none;
                        font-weight: normal;
                        padding-bottom: 0;

                    }
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li {
                        margin: 10px;
                    }
                }
            }
        }
    }
}