@import "colors";
@import "base";

@media screen and (min-width: 769px) and (max-width: 1435px) {
    .productsSection {
        .container {
            .rightSide {
                .products {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    padding: 25px;
                }
            }   
        }
    }
 
}